<mat-card class="my-card">
  <mat-card-title>Choose a Checkout Method</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" id="payment-form">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="paymentRadio"
      >
        <mat-radio-button class="example-radio-button" *ngFor="let method of paymentMethods" [value]="method">
          {{ method }}
        </mat-radio-button>
      </mat-radio-group>
    </form>
    <div>Your payment method is: {{ paymentMethod }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary" (click)="pay()">PAY</button>
  </mat-card-actions>
</mat-card>
