.example-spacer {
  flex: 1 1 auto;
}

.example-toolbar {
  font-family: 'Pacifico'
}

mat-toolbar {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.top-navbar {
  padding-bottom: 20px;
}

.menu-item {
  :hover, :active {
    color: purple;
  }
}