<h2 mat-dialog-title>Finalize Payment</h2>
<mat-dialog-content class="mat-typography">
  <h3>Add Payment Details Below:</h3>
  <br />
  @if (elementsOptions?.clientSecret; as clientSecret) {
    <ngx-stripe-payment
      [options]="options"
      [elementsOptions]="elementsOptions"
      [clientSecret]="clientSecret"
    ></ngx-stripe-payment>
  }
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [disabled]="paying" (click)="pay()">
    @if (!paying) {
      <span>
        PAY
        @if (totalAmount) {
          <span>${{ totalAmount }}</span>
        }
      </span>
    }
    @if (paying) {
      <span>PROCESSING...</span>
    }
  </button>
</mat-dialog-actions>
