<div class="panel panel-primary">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Product Name</label>
        <input type="text" class="form-control" #productName />
      </div>

      <div class="form-group">
        <label class="col-md-4">Product Price</label>
        <input type="text" class="form-control" #productPrice />
      </div>

      <div class="form-group">
        <button type="button" (click)="addProduct(productName.value, productPrice.value)" class="btn btn-primary">Add Product To Cart</button>
      </div>
    </form>
  </div>
</div>

<table class="table table-hover" *ngIf="(cart | async)?.length">
  <thead>
    <tr>
      <td>Product ID</td>
      <td>Product Name</td>
      <td>Product Price</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of cart | async">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.unitPrice}}</td>
      <td><a href="#" (click)="deleteProduct(product.id)">Delete</a></td>
    </tr>
  </tbody>
</table>

<mat-grid-list cols="3" >
  <mat-grid-tile *ngFor="let product of products | async">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>Price (Per Kg): ${{product.unitPrice}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.imageUrl}}" alt="{{product.name}}">
      <mat-card-content>
        <p>{{product.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add to Cart</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>

